.container{
    display: flex;
    justify-content: center;
    margin-top: 5%;   
}

.deck{
    width: 500px;
    height: 500px;
    flex-wrap: wrap;
    display: flex;
}

.card{
    background-color: #744CFF;
    color: #744CFF;
    width: auto;
    height: auto;
    flex: auto;
    flex-basis: 20%;
    margin: 2%;
    text-align: center;
    line-height: 100px;  
}

.flipped{
    background-color: #323133;
}
.found{
    visibility: hidden;
}